@use 'variables' as *;
@use 'mixins' as *;
@use 'base';

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;

  main, header{
    width: 80%;
    margin-inline: auto;
  }
}

main{
  
  @include flex-column;


  h1{
    text-align: $text-center;
  }

  .clocks{
    @include flex-space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    width:80%;
    border-radius: 10px;
    margin-inline: auto;
    padding: 20px;
  }
}

.theme-light {
  background-color: $light-background;
  color: $light-text;

  #app {
    background-color: $light-background;
    color: $light-text;
  }
}

.theme-dark {
  background-color: $dark-background;
  color: $dark-text;

  #app {
    background-color: $dark-background;
    color: $dark-text;
  }
}

.theme-light {
  .clocks {
    background-color: $light-bg-clocks;
  }
}

header{
  @include flex-space-between;

  img{
    width: 100px;
  }
}
.logo{
  @include flex-space-between;
  
}


.theme-toggle-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-toggle-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.theme-toggle-label:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .theme-toggle-label {
  background-color: #2196F3;
}

input:focus + .theme-toggle-label {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .theme-toggle-label:before {
  transform: translateX(26px);
}



footer{
  @include flex-center;
}
