@use 'variables' as *;
@use 'mixins' as *;
@use 'base';

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;

  main, header{
    width: 80%;
    margin-inline: auto;
  }
}

.theme-light {
  background-color: #ffffff;
  color: #121212;

  #app {
    background-color: #ffffff;
    color: #121212;
  }
}

.theme-dark {
  background-color: #121212;
  color: #f0f0f0;

  #app {
    background-color: #121212;
    color: #f0f0f0;
  }
}

header{
  @include flex-space-between;

  img{
    width: 100px;
  }
}
.logo{
  @include flex-space-between;
  
}
